<div class="fly-footer">
  <a href="https://www.gla.ac.uk/">
          <img loading="lazy" src="https://www.gla.ac.uk/3t4/img/marque.svg" width="225" height="70" style="height:70px; width:auto" alt="University of Glasgow"></a>
    <p>
    <span>Hospital Management System</span>

                    <p class="links">
    <a href="#">Home</a><strong> · </strong>
    <a href="#">About</a><strong> · </strong>
    <a href="#">Contact</a><strong> · </strong>
    <a href="#">Team</a><strong>&nbsp;</strong></p>

    <p >ITECH Team 27 © 2023 All Right Reserved</p>
    <a>Ataur Rehman Mohammed</a><strong> · </strong>
    <a>Qinglong Wan</a><strong> · </strong>
    <a>Haoran Jiang</a><strong> · </strong>
    <a>Yu Liu</a><strong> · </strong>
    <a>Li Yang</a>
</div>
