{% extends '../../base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <body>
    <div class="layui-fluid">
        <div class="layui-row">
            <form class="layui-form">
                {% csrf_token %}
                <div class="layui-form-item">
                    <label class="layui-form-label">
                        Original password
                    </label>
                    <div class="layui-input-inline">
                        <input type="password" name="oldpassword" value="" required="" lay-verify="required"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">
                        New password
                    </label>
                    <div class="layui-input-inline">
                        <input type="password" name="password" value="" required="" lay-verify="pass"
                               autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        <span class="x-red">*</span>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">
                        Confirm Password
                    </label>
                    <div class="layui-input-inline">
                        <input type="password" name="repassword" value="" required="" lay-verify="repass"
                               autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">
                        <span class="x-red">*</span>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label"></label>
                    <button class="layui-btn" lay-filter="password" lay-submit="">
                        Edit
                    </button>
                </div>

                <input type="hidden" name="id" value="{{ sinfo.id }}">
            </form>
        </div>
    </div>

    </body>
    <script>
        layui.use(['form', 'layer'], function () {
            $ = layui.jquery;
            var form = layui.form,
                layer = layui.layer;


            form.verify({
                pass: [/(.+){6,}$/, 'Password cannot be less than 6 digits and cannot contain spaces.'],
                repass: function (value) {
                    if ($("input[name='password']").val() != $("input[name='repassword']").val()) {
                        return 'The two passwords are inconsistent';
                    }
                }
            });


            form.on('submit(password)', function (data) {
                console.log(data);

                $.ajax({
                    url: "password.html",
                    type: 'POST',
                    dataType: 'json',
                    data: data.field,
                    success: function (res) {
                        {#console.log(res)#}
                        if (res.state == '1') {
                            layer.msg(res.msg, {icon: 1}, function () {

                                {#xadmin.close();#}

                                xadmin.father_reload();
                                {#parent.location.reload();#}
                                {#parent.location.href="/common/login/index.html";#}
                            });
                        } else {
                            layer.msg(res.msg, {icon: 5}, function () {
                            });
                        }
                    },
                    error: function (res) {
                        //called when there is an error
                        layer.msg('Network connection failed. Please try again later', {icon: 2}, function () {
                        });
                    }
                });

                return false;
            });

        });
    </script>
    </html>
{% endblock %}
